{{ if and (isset .Params "portalId") (isset .Params "formId")}}
  <!--[if lte IE 8]>
    <script
      charset="utf-8"
      type="text/javascript"
      src="//js.hsforms.net/forms/v2-legacy.js"
    ></script>
  <![endif]-->

  <script
    charset="utf-8"
    type="text/javascript"
    src="//js.hsforms.net/forms/v2.js"
  ></script>
  <script>
  hbspt.forms.create({
    region: 'na1',
    portalId: '{{ index .Params "portalId"}}',
    formId: '{{ index .Params "formId"}}',
  });
  </script>
{{ end }}