<!-- 
  Copyright (c) 2019, 2023 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Eric Poirier <eric.poirier@eclipse-foundation.org>
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->
{{ $migration_link := "https://gitlab.eclipse.org/eclipsefdn/it/webdev/hugo-solstice-theme/-/wikis/Hugo-Solstice-Theme-1.x.x/Migrating-to-1.x.x#replacing-meeting_minutes-shortcode-with-eclipsefdn_meeting_minutes" }}
{{ if not (eq .Site.Params.hide_deprecation_warnings true) }}
  {{ warnf "Deprecation Warning: The meeting_minutes shortcode is deprecated and will be removed in Hugo Solstice Theme 1.0. Consider using `eclipsefdn_meeting_minutes`. Find out how to migrate here: %s" $migration_link }}
{{ end }}

{{ $.Scratch.Set "counter" 0}}
<ul class="nav nav-tabs" role="tablist">
{{ range $index, $meeting_minute_types := .Site.Data.meeting_minutes.items }}
  {{ $counter := $.Scratch.Get "counter" }}
  {{ if eq $counter 0 }}
    <li role="presentation" class="active"><a href="#{{ $index }}" aria-controls="{{ $index }}" role="tab" data-toggle="tab">{{ humanize $index }}</a></li>
    {{ $.Scratch.Add "counter" 1}}
  {{ else }}
    <li role="presentation"><a href="#{{ $index }}" aria-controls="{{ $index }}" role="tab" data-toggle="tab">{{ humanize $index }}</a></li>
  {{ end }}
{{ end }}
</ul>


{{ $.Scratch.Set "types_counter" 0}}
<div class="tab-content">
  {{ range $index_type, $meeting_minute_types := .Site.Data.meeting_minutes.items}}
    {{ $types_counter := $.Scratch.Get "types_counter" }}
    {{ if eq $types_counter 0 }}
      <div role="tabpanel" class="tab-pane active" id="{{$index_type}}">
    {{ else }}
      <div role="tabpanel" class="tab-pane" id="{{$index_type}}">
    {{ end }}
      {{ $num_items := len $meeting_minute_types }}
      {{ $items_per_col := math.Ceil (div $num_items 3.0) }}
      {{ $.Scratch.Set "items_counter" 1 }}
      {{ $.Scratch.Set "items_counter_per_row" 1 }}
      <div class="row">
        {{ range $meeting_minute_types }}
          {{ $items_counter := $.Scratch.Get "items_counter" }}
          {{ $items_counter_per_row := $.Scratch.Get "items_counter_per_row" }}
          {{ if eq $items_counter_per_row 1}}
            <div class="col-sm-8"><ul>
          {{ end }}
          <li><a href="{{.url}}">{{.title}}</a></li>
          {{ if or (eq (float $items_counter_per_row) $items_per_col) (eq $items_counter $num_items) }}
            {{ $.Scratch.Set "items_counter_per_row" 0}}
            </ul></div>
          {{ end }}
          {{ $.Scratch.Add "items_counter" 1}}
          {{ $.Scratch.Add "items_counter_per_row" 1}}
        {{ end }}
      </div>
    </div>
    {{ $.Scratch.Add "types_counter" 1}}
  {{ end }}
</div>