{{/* 
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
*/}}

{{ if isset .Site.Menus "sidebar" }}
    {{ $current_page := . }}
    {{ $current_section := "home" }}

    {{ if $current_page.Section }}
        {{ $current_section = $current_page.Section }}
    {{ end }}   

    {{ range .Site.Menus.sidebar }}
        {{ $parent_item := . }}
        {{ if and (.HasChildren) }}
            <aside class="main-sidebar-default-margin" id="main-sidebar">
                <ul class="ul-left-nav" id="leftnav" role="tablist" aria-multiselectable="true">
                    <li class="main-sidebar-main-item main-sidebar-item-indented separator">
                      <a class="main-sidebar-heading link-unstyled" href="{{ .URL }}">
                        {{ .Name }}
                      </a>
                    </li>
                    {{ range .Children }}
                        <li class="main-sidebar-item main-sidebar-item-indented">
                            {{ if .HasChildren }}
                                <li class="main-sidebar-item main-sidebar-item-indented">
                                    <a 
                                        class="link-unstyled" 
                                        role="button" 
                                        data-toggle="collapse" 
                                        href="#{{ .Identifier }}" 
                                        aria-expanded="false" 
                                        aria-controls="{{ .Identifier }}"
                                    >
                                        <span>{{ .Name }}</span>
                                        <i class="main-sidebar-item-icon fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                    <div class="collapse" id="{{ .Identifier }}">
                                        <ul class="main-sidebar-item-submenu list-unstyled">
                                            {{ range .Children }}
                                                <li class="submenu-item">
                                                    {{ .Pre }}
                                                    <a class="link-unstyled" href="{{ .URL }}" target="_self">{{ .Name }}</a>
                                                </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </li>
                            {{ else }}
                                <li class="main-sidebar-item main-sidebar-item-indented">
                                    <a class="link-unstyled" href="{{ .URL }}">
                                        <div>
                                            <span class="main-sidebar-item-pre" aria-hidden="true">
                                                {{ .Pre }}
                                            </span>
                                            {{ .Name }}
                                        </div>
                                    </a>
                                </li>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </aside>
        {{ end }}
    {{end }}
{{ end }}
